nav ul {
    padding: 0;
}

header > nav > ul >  li {
    list-style: none outside;
    position: relative;
    display: inline-block;
    margin: 0 0,2;
}

header > nav > ul > li > a {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    color: green;
    font-size: 1.2em;
}