.pricing-plans {
    padding: 2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.plans {
    padding: 1em 4em;
    margin: 1em 1em;
    /* background: yellow; */
    gap: 1em;
    width: 20em;
    height: 25em;
    text-align: center;
}

#plan {
    display: flex;
    flex-direction: column;
    background: white;
    text-align: left;
    flex: 0 2 50%;
}

#plan h3 {
    margin-bottom: 2em;
    font-size: 1.2em;
}

#plan p {
    flex: 0 2 100%;
}

#free {
    background: #ff7c4c;
    flex-basis: 3;
}

#paid {
    background: black;
    color: white;
}


#free p:first-child, #paid p:first-child {
    padding-top: 1em;
}

#free h3, #paid h3 {
    font-size: 3em;
    font-weight: 300;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#free p, #paid p {
    line-height: 2em;
}

.button-learn-more {
    margin-top: 2.5em;
}

#first > a {
    text-decoration: none;
    margin-top: 2em;
    border: 2px solid black;
    padding: 0.8em 1.5em;
    color: white;
    background: black;
    border-radius: 0.3em;
}

#second > a {
    text-decoration: none;
    margin-top: 2em;
    border: 2px solid black;
    padding: 0.8em 1.5em;
    color: black;
    background: white;
    border-radius: 0.3em;
}