.banner {
    display: block;
    position:relative;
}

.banner h1 {
    position: absolute;
    top: 450px;
    left: 260px;
}

.banner p {
    position: absolute;
    top: 600px;
    left: 260px;
    font-size: 1.2em;
    font-weight: 800;
    color: white;
}

.banner a {
    position: absolute;
    top:730px;
    left:260px;
    padding: 0.9em 1.8em;
    border: 2px solid black;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 0.3em;
}