body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

body > * {
  background: #87cefa;
  border: 2px solid lightskyblue;
  border-radius: 0.3em;
}

header {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  flex: 1 1 100%;
}

aside {
  flex: 1 1 70%;
  flex-grow: 1;
}

main {
  flex: 1 1 25%;
}

nav ul {
  display: flex;
}

nav li {
  display: block;
}

nav a {
  display: block;
  padding: 1em 1.5em;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }

  nav ul,
  header {
    display: block;
  }

}
